<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<div id="page-container">

    <form action="speed" method="POST">
        <input type="submit" class="Backbutton" name="Backbutton" value="Back to Main">

    </form>

    <body>
        <div>
            <h1>
                Speed
            </h1>
            <p2 class="warning">
                Instructions: Out of all the variables in the equation, leave the variable that you are solving for. 
            </p2>
            <p1 class="displayEquation">
                <br>$$ Speed = \frac{Distance}{Time} $$
            </p1>
            
            <br>
            <form action="speed" method="POST">
                <div class="variables">
                    <section>
                        <label for="distance">Distance: </label>
                        <input type="number" name="distance" id="distance">
                    </section>
                    <section>
                        <label for="time">Time: </label>
                        <input type="number" name="time" value="time" id="time">
                    </section>
                    <section>
                        <label for="speed">Speed: </label>
                        <input type="number" name="speed" value="speed" id="speed">
                    </section>
                </div>
                <section>
                    <input type="submit" name="calculate" value="calculate" class="submit" formmethod="POST">
                </section>
            </form>
            <div id="output">
                <p class="output-statement">{{ result }}</p>
            </div>
        </div>

</div>
</body>
</div>

<div class="info">
    <footer class="Feedback">
        <form>
            <div class="feedbackTitle">
                <p1>
                    Feedback
                </p1>
            </div>

            <textarea class="message" name="message" rows="5"></textarea>
            <br><br>
            <input type="submit" class="submit">
        </form>

    </footer>
</div>

</html>